{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s12 m7">
    <div class="card">
   
      <span class="card-title">{{ festival.name }}</span>
      <div class="card-image">
        <img src="{{festival.photo.url}}">
    </div>
      <div class="card-content">
        <h4>{{festival.venue.name }}</h4>
        <h5>{{ festival.date }}</h5>
    <p>{{festival.venue.city}}, {{ festival.venue.state }}<p>
    </div>
    <div class="card-action">
      <a href="#">This is a link</a>
    </div>
  </div>
</div>
</div>
<form
action="{% url 'add_photo' festival.id %}"
enctype="multipart/form-data"
method="POST"
class="card-panel"
>
{% csrf_token %}
<input type="file" name="photo-file" />
<br /><br />
<input type="submit" class="btn" value="Upload Photo" />
</form>
{% endblock%}
