{% extends 'base.html' %} {% block content %}

<h1>Your Upcoming Festivals</h1>

{% for festival in festivals %}
<div class="row" "center-align">
  <div class="col s6 m7">
    <div class="card">
      <span class="card-title">{{ festival.name }}</span>
      <a href="/festivals/{{festival.id}}">
        <div class="card-image">
          {% for photo in festival.photo_set.all %}
        <img src="{{ photo.url }}">
        {% endfor %}
        <div class="card-content">
          <p>{{ festival.date}}</p>
        </div>
      </a>
      <div class="card-action">
        <a href="{% url 'festival_update' festival.id %}">Edit</a>
        <a href="{% url 'festival_delete' festival.id %}">Delete</a>
    </div>
    </div>
    </div>
  </div>
  {% endfor %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });

</div>
 {% endblock %}
